<link rel="stylesheet" href="<%= quiztron_host %>/static/css/dropzone.css">
<style type="text/css">
 table#processed_files_table { width: 100%; }
 table#processed_files_table tr th { padding: 5px; font-weight: bold; }
 table#processed_files_table tr td { padding: 5px; }
 table#processed_files_table tr:nth-child(even) { background-color: #f5f5f5; padding: 5px; }
</style>

<form method="post" action="<%= quiztron_server_upload_url %>" class="dropzone" id="quiztron-upload-dropzone"></form>

<h3>Files being processed</h3>
<table id='processed_files_table'>
    <thead>
    <tr>
        <th>Filename</th><th>Id</th><th>Processing Time</th><th>Status</th><th>Link to Uploaded Content</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>


<!-- We pull sources from the quiztron-server so that the logic stays in one spot as much as possible -->
<script src="<%= quiztron_server_upload_url %>.js"></script>
<script src="<%= quiztron_host %>/static/js/upload_logic.js"></script>
